#datos no se suben a git
data/
data/raw/
data/processed/
data/interim/
 
#modelos
models/
*.pkl
*.joblib
 
#python
__pycache__/
*.py[cod]
.ipynb_checkpoints/
.venv/
venv/
env/
 
#entorno
.env
 
#sistema
.DS_Store
 